@font-face {
    font-family: Bluffolk;
    src: url('Bluffolk.otf');
}

* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    flex-flow: row;
}

.left-side {
    background-image: url("asset/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
}

.dark-transparent {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    top: 12vh;
    gap: 1vw;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    font-family: "Bluffolk", sans-serif;
    color: white;
    font-size: 2rem;
}

.logo {
    height: 12vh;
    overflow: clip;
    overflow-clip-margin: content-box;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: rgb(248, 248, 248);
    padding: 24px;
    font-family: 'Poppins', sans-serif;
}

.right p {
    font-weight: 600;
    text-align: justify;
}

.form-title {
    font-weight: 600;
    width: 100%;
}

form {
    display: block;
}

.form-style {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 10px 20px -2px rgb(212, 212, 212);
}

.input {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 0.8rem;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgb(156, 156, 149);
    border-radius: 10px;
}

input:focus {
    outline: none;
    border: 2px solid rgb(22, 100, 189);
}

.sign-up-btn {
    background-color: rgb(22, 100, 189);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}